// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-columns-container-outer{
  width: 975px;
  display: inline-flex;
  justify-content: center;
  background: white;
}

#main-columns-container-inner{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
#album-left-middle-columns{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    //border: 1px solid black;
    height: 700px;
}
#album-info-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 376px;
  //border-left: 1px dotted black;
  //border-right: 1px dotted black;
}
#album-artist-name{
  font-size: 28px;
  font-weight: normal;
}
#artist-by-line{
  margin-top: 8px;
}
.by{
  color: #0687F5;
}
// audio player
#song-player-container{
  
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 100%;
}
#player-play-icon{
  border: none;
}
#player-icon-background{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 52px;
  background: white;
  border: 1px solid gray;
}
#player-info-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1
}
#player-title-tracktime{
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  align-items: center;
}
#player-time-elapsed{
  padding-left: 5px;
  padding-right: 2px;
}
#player-time-duration{
  padding-left: 2px;
}
#player-progress-bar-cell{
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}
#player-progress-bar{
  display: flex;
  border: 1px solid gray;
  position: relative;
  width: 100%;
  height: 10px;
}
#player-thumb{
  border: 1px solid #bebebe;
  background: white;
  top: -2px;
  margin-left: -2px;
  position: absolute;
  width: 22px;
  height: 12px;
}

.album-tracks-container{
  display: flex;
  align-items: flex-start;  flex-direction: column;
  height: 200px;
  width: 100%;
  margin-top: 40px;
}
.album-tracks{

}
#release-date-line{
  margin-top: 30px;
}
#copyright-line{
  margin-top: 30px;
}

// center column - album image
#album-image-column{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 40px;
}

#album-image-container{
  max-width: 350px;
  max-height: 350px;
}

#album-image-container > img {
  width: 350px;
    height: 350px;
}
.album-photo-list{
  display: flex;
  flex-wrap: wrap;
}

.album-photo-list-item{
  height: 200px;
  width: 200px;

}
.album-photo-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
  color:#0687F5;
}
.album-photo-container > img {
  max-height: 100%;
  max-width: 100%;
}

// right column

#right-column{
  display: flex;
  flex-direction: column;
}

.discography-container{
  display: flex;
  justify-content: left;
}
.artist-photo-container{
  width: 120px;
  height: 120px;
  text-align: left;
}

.artist-photo-container > img{
 max-width: 100%;
  max-height: 100%;
}
#artist-photo-name{
 font-weight: bold;
 color: gray;
font-family: sans-serif;
}

//song_index_item.jsx
.play-icon {
  width: 24px;
  height: 24px;
}

.song-index-item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.song-order {
  padding-left: 15px;
  color: #888888;
}
.song-title{
  color: #0687F5;
}
.song-length {
  padding-left: 10px;
  color: #888888;
}