/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 

 
// header
 header {
   border-bottom: 1px solid darkgray;
   background-color: white;
 }
 .site-logo {
   height: 50px;
   width: 150px;
   background-size: contain;
   background: image-url("logo.png");
   background-repeat: no-repeat;
 }
.nav-logged-out {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logged-out-links {
  display: flex;
  font-size: 14px;
}
.nav-logged-out-links > a {
  font-size: 14px;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

.nav-logged-out-links > button {
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  border: none;
  background: none;
}

.nav-logged-in {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;   
  align-items: center;
}

.nav-logged-in-right {
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}
// header > menu
.menu-button {
  position: relative;
   border: none;
   height: 30px;
   width: 30px;
   background-size: contain;
   background: image-url("menu-icon.png");
   background-repeat: no-repeat;
   margin-left: 20px;
   cursor: pointer;
 }
.nav-menu-list {
  position: absolute;
  text-align: left;
  border: 1px solid lightgray;
  top: 30px;
  width: 115px;
  right: 0;
  background: white;
  font-size: 14px;
}

#nav-menu-username {
  font-weight: bold;
  
}
#nav-menu-divider {
  border-bottom: 1px solid lightgray;
  width: auto;
}

.nav-menu-list > li {
  padding-top: 20px;
  padding-bottom: 20px;
}

// main
main {
  
  text-align: center;
  height: 100vh;
}


.session-header {
  margin-bottom: 20px;
  font-size: 19px;
}
.divide-line {
  border-top: 1px dashed darkgray;
  width: 100%;
  margin: auto;
  margin-top: 35px;
}

// main > signup modal
.modal-signup-background{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.modal-signup-child{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-navmenu-background{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: none;
  z-index: 10;
}
.modal-navmenu-child{
  position: absolute;
  top: 10%;
  left: 85%;
  background: white;
  transform: translate(-50%, -50%);
}


.form-signup {
  background: white;
  margin-top: 55px;
  display: inline-block;
  height: 550px;
  width: 500px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.signup-header {
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  font-weight: 550;
  background-color: #f4f6f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.signup-header > div{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  color: #2e3332;
  width: 90%
}


#modal-close{
height: 100%;
padding-left: 18px;
padding-right: 18px;
border: none;
background: none;
font-weight: 600;
font-size: 16px;
color: darkgray;

}

#modal-close:hover{
  color: #2e3332;
}

.errors {
  color: red;
}

.session-elements-list {
  list-style: none;
  font-size: 17px;
  color: darkslategray;
  margin-top: 40px;
}

.col-left {
  width: 150px;
  text-align: right;
  padding-right: 15px;
}

.input-errors {
  border: 1px solid red;
  background-color: ghostwhite;
  
  margin-bottom: 20px;
  width: 300px;
  height: 35px;
}

.input-no-errors {
  border: 1px solid lightgray;
  background-color: ghostwhite;
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
}


.login-signup-button {
  background-color: rgb(0,161,198);
  display: flexbox;
  border: none;
  width: 300px;
  height: 36px;
  font-weight: bold;
  font-size: 16px;
  color: white;

}
// main > splash
#splash-main {
  height: 100%;
  width: auto;
  
  background: white;
}

#splash-images {
 //background-size: contain;
  background: image-url("example1.jpg");
  background-repeat: no-repeat;
  height: 623px;
  width: 623px;
}